.aboutImage {
    filter: sepia(16%) brightness(94%) opacity(82%) contrast(106%);
    -webkit-filter: sepia(16%) brightness(94%) opacity(82%) contrast(106%);
    -moz-filter: sepia(16%) brightness(94%) opacity(82%) contrast(106%);
}