.preloader {
    /* Styles for the preloader container */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Keep it on top of the screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0); /* Semi-transparent overlay */
    z-index: 999; /* Ensure it's on top of other elements */
  }
  
  .preloadertext {
    /* Styles for the welcome text */
    font-size: 2rem;
    color: #fff;
    text-align: center;
  }
  